-
	var
		menu = [
			{
				title: 'О театре',
				url: '#',
				submenu: [
					{
						title: 'ИСТОРИЯ ТЕАТРА',
						url: '#',
					},
					{
						title: 'РУКОВОДСТВО',
						url: '#',
					},
					{
						title: 'ПОСТАНОВЩИКИ',
						url: '#',
					},
					{
						title: 'ПРАВИЛА ПОСЕЩЕНИЯ',
						url: '#',
					},
					{
						title: 'ВАКАНСИИ',
						url: '#',
					},
					{
						title: 'ДОКУМЕНТЫ',
						url: '#',
					},
					{
						title: 'ДОСТУПНАЯ СРЕДА',
						url: '#',
					},
				],
			},
			{
				title: 'Спектакли',
				url: '#',
				submenu: [
					{
						title: 'ИСТОРИЯ ТЕАТРА',
						url: '#',
					},
					{
						title: 'РУКОВОДСТВО',
						url: '#',
					},
					{
						title: 'ПОСТАНОВЩИКИ',
						url: '#',
					},
					{
						title: 'ПРАВИЛА ПОСЕЩЕНИЯ',
						url: '#',
					},
					{
						title: 'ВАКАНСИИ',
						url: '#',
					},
					{
						title: 'ДОКУМЕНТЫ',
						url: '#',
					},
					{
						title: 'ДОСТУПНАЯ СРЕДА',
						url: '#',
					},
				],
			},
			{
				title: 'Афиша',
				url: '#',
				submenu: [
					{
						title: 'ИСТОРИЯ ТЕАТРА',
						url: '#',
					},
					{
						title: 'РУКОВОДСТВО',
						url: '#',
					},
					{
						title: 'ПОСТАНОВЩИКИ',
						url: '#',
					},
					{
						title: 'ПРАВИЛА ПОСЕЩЕНИЯ',
						url: '#',
					},
					{
						title: 'ВАКАНСИИ',
						url: '#',
					},
					{
						title: 'ДОКУМЕНТЫ',
						url: '#',
					},
					{
						title: 'ДОСТУПНАЯ СРЕДА',
						url: '#',
					},
				],
			},
			{
				title: 'Труппа',
				url: '#',
				submenu: [
					{
						title: 'ИСТОРИЯ ТЕАТРА',
						url: '#',
					},
					{
						title: 'РУКОВОДСТВО',
						url: '#',
					},
					{
						title: 'ПОСТАНОВЩИКИ',
						url: '#',
					},
					{
						title: 'ПРАВИЛА ПОСЕЩЕНИЯ',
						url: '#',
					},
					{
						title: 'ВАКАНСИИ',
						url: '#',
					},
					{
						title: 'ДОКУМЕНТЫ',
						url: '#',
					},
					{
						title: 'ДОСТУПНАЯ СРЕДА',
						url: '#',
					},
				],
			},
			{
				title: 'Новости',
				url: '#',
				submenu: [
					{
						title: 'ИСТОРИЯ ТЕАТРА',
						url: '#',
					},
					{
						title: 'РУКОВОДСТВО',
						url: '#',
					},
					{
						title: 'ПОСТАНОВЩИКИ',
						url: '#',
					},
					{
						title: 'ПРАВИЛА ПОСЕЩЕНИЯ',
						url: '#',
					},
					{
						title: 'ВАКАНСИИ',
						url: '#',
					},
					{
						title: 'ДОКУМЕНТЫ',
						url: '#',
					},
					{
						title: 'ДОСТУПНАЯ СРЕДА',
						url: '#',
					},
				],
			},
			{
				title: 'партнеры',
				url: '#',
				submenu: [
					{
						title: 'ИСТОРИЯ ТЕАТРА',
						url: '#',
					},
					{
						title: 'РУКОВОДСТВО',
						url: '#',
					},
					{
						title: 'ПОСТАНОВЩИКИ',
						url: '#',
					},
					{
						title: 'ПРАВИЛА ПОСЕЩЕНИЯ',
						url: '#',
					},
					{
						title: 'ВАКАНСИИ',
						url: '#',
					},
					{
						title: 'ДОКУМЕНТЫ',
						url: '#',
					},
					{
						title: 'ДОСТУПНАЯ СРЕДА',
						url: '#',
					},
				],
			},
			{
				title: 'Проекты',
				url: '#',
				submenu: [
					{
						title: 'ИСТОРИЯ ТЕАТРА',
						url: '#',
					},
					{
						title: 'РУКОВОДСТВО',
						url: '#',
					},
					{
						title: 'ПОСТАНОВЩИКИ',
						url: '#',
					},
					{
						title: 'ПРАВИЛА ПОСЕЩЕНИЯ',
						url: '#',
					},
					{
						title: 'ВАКАНСИИ',
						url: '#',
					},
					{
						title: 'ДОКУМЕНТЫ',
						url: '#',
					},
					{
						title: 'ДОСТУПНАЯ СРЕДА',
						url: '#',
					},
				],
			},
			{
				title: 'Контакты',
				url: '#',
				submenu: [
					{
						title: 'ИСТОРИЯ ТЕАТРА',
						url: '#',
					},
					{
						title: 'РУКОВОДСТВО',
						url: '#',
					},
					{
						title: 'ПОСТАНОВЩИКИ',
						url: '#',
					},
					{
						title: 'ПРАВИЛА ПОСЕЩЕНИЯ',
						url: '#',
					},
					{
						title: 'ВАКАНСИИ',
						url: '#',
					},
					{
						title: 'ДОКУМЕНТЫ',
						url: '#',
					},
					{
						title: 'ДОСТУПНАЯ СРЕДА',
						url: '#',
					},
				],
			},
		]
