extends template/layout
block var
	- var page = 'faq'
block content
	section.faq-block
		+imagesHeader('faq','Frequently Asked Questions – Boulder Prolotherapy',masfaq)
		.container
			.faq-block__text
				p.faq-block__subtext Boulder Prolotherapy at the Center for Healing Injury and Pain in Boulder, Colorado, offers therapies for ligamentous, muscular, myofascial, and joint problems resulting from normal wear-and-tear and and traumatic sprain injuries.
			.faq-block__list
				+faqlist(faqlist,9)
			+pagination(10)


	+contactUs()
	template
		.faq-block__item
			img.faq-block__img(src="" width='380' height='205')
			h3.faq-block__h3= ""
			p.faq-block__subtitle= ""
			+alink('button','Read more','faqread','faqpage.html')

