extends templates/layout

block content
	.new-header.new-header__menu-container
		.c-container
			.lg-12-3.md-12-2
				.logo-header-horizontal
					a(href='/'): img(src='http://teatr-koleso.ru/res/images/logo-horizontal_black.svg')
			.lg-12-9.md-12-10
				ul.new-header__menu.hidden-md-down
					each item in menu
						li.new-header__menu-item
							a(href= item.url)= item.title
							if (item.submenu)
								ul.new-header__sub-menu
									each subitem in item.submenu
										li.new-header__sub-menu-item
											a(href= subitem.url)= subitem.title






