extends template/layout
block var
	- var page = 'index'
block content
	.container
		.advantages
			.advantages__wrapper
				+social_icons()
				.advantages__header-wrapper
					h1.advantages__header Boulder Prolotherapy / Platelet-Rich Plasma Therapy
					h2.advantages__header-description Boulder Center for Orthopedic Medicine
					.advantages__button-appointment.form-control__button.form-control__button--orange Appointment Now
					p.advantages__description We offer nonsurgical medical and osteopathic-style diagnoses and therapies to effectively treat painful and disabling, acute and chronic skeletal misalignment,  muscle and ligament sprain injuries and osteoarthritis. Our services include ultrasound-guided regenerative therapy and platelet-rich plasma therapy.
			.advantages__list
				.advantages__item
					+icon-svg(icon_like)
					.advantages__item-header Over 50 Years of Experience
					.advantages__item-description Dr. Clark offers over 50 years of extensive and broad clinical training and experience in General and Orthopedic Medicine.
				.advantages__item
					+icon-svg(icon_stethoscope)
					.advantages__item-header Personalized Approach
					.advantages__item-description Dr. Clark provides the personal attention and specialize care you need.
				.advantages__item
					+icon-svg(icon_cross)
					.advantages__item-header Highest Quality Services
					.advantages__item-description Dr. Clark is committed to providing the highest quality patient care in every facet of nonsurgical orthopedic medical services.
				.advantages__item
					+icon-svg(icon_dollar)
					.advantages__item-header Low Prices
					.advantages__item-description Dr. Clark provides a wide range of Orthopedic Medicine services at affordable prices.
	+pain(pain_list)
	+about()
	+treatments_list(treatments_list)
	+slider(slider__data)
	+contactUs()





