-
	var
	faqlist = [
	{
	src: "../images/faq/shutterstock_1031854693.png",
	title: "What is the scientific basis for Prolotherapy?",
	subtitle: 'Direct Line Development has already created a variety of business websites for companies of all kinds so now we are ready to share with you one of the most fascinating showcases where you can learn in detail what it took for us to create a professional automotive website design for Collex Collision Experts'

	},
	{
	src: "../images/faq/shutterstock_1014464956.png",
	title: "Is Prolotherapy an “off-label” use of Procaine™ and Glucose?",
	subtitle: 'Previously, speaker groups could only be made with audio devices, meaning the standard Chromecast was excluded.'

	},
	{
	src: "../images/faq/shutterstock_644311684.png",
	title: "To what diagnoses is Prolotherapy applicable?",
	subtitle: 'Launch provider Virgin Orbit, the spinoff of Richard Branson’s space tourism venture Virgin Galactic, put its new rocket in the air for the first time this weekend — though the vehicle didn’t go to space.'

	},
	{
	src: "../images/faq/shutterstock_644311684.png",
	title: "What is the scientific basis for Prolotherapy?",
	subtitle: 'Direct Line Development has already created a variety of business websites for companies of all kinds so now we are ready to share with you one of the most fascinating showcases where you can learn in detail what it took for us to create a professional automotive website design for Collex Collision Experts'
	},
	{
	src: "../images/faq/shutterstock_1031854693.png",
	title: "Is Prolotherapy painful?",
	subtitle: 'Previously, speaker groups could only be made with audio devices, meaning the standard Chromecast was excluded.'

	},
	{
	src: "../images/faq/shutterstock_1014464956.png",
	title: "What are the frequency and total number of treatment sessions required?",
	subtitle: 'Launch provider Virgin Orbit, the spinoff of Richard Branson’s space tourism venture Virgin Galactic, put its new rocket in the air for the first time this weekend — though the vehicle didn’t go to space.'

	},


	{
	src: "../images/faq/shutterstock_644311684.png",
	title: "Is smoking a contraindication to receiving Prolotherapy?",
	subtitle: 'Previously, speaker groups could only be made with audio devices, meaning the standard Chromecast was excluded.'

	},
	{
	src: "../images/faq/shutterstock_1014464956.png",
	title: "What Post-therapeutic activity is advisable?",
	subtitle: 'Previously, speaker groups could only be made with audio devices, meaning the standard Chromecast was excluded.'
	},

	{
	src: "../images/faq/shutterstock_644311684.png",
	title: "What post-therapeutic rehabilitative measures should be considered?",
	subtitle: 'Launch provider Virgin Orbit, the spinoff of Richard Branson’s space tourism venture Virgin Galactic, put its new rocket in the air for the first time this weekend — though the vehicle didn’t go to space.'

	}


	],
	faqlistpage = [
	{
	src: "../images/faq/shutterstock_1031854693.png",
	title: "What is the scientific basis for Prolotherapy?",
	subtitle: 'Direct Line Development has already created a variety of business websites for companies of all kinds so now we are ready to share with you one of the most fascinating showcases where you can learn in detail what it took for us to create a professional automotive website design for Collex Collision Experts'

	},
	{
	src: "../images/faq/shutterstock_1014464956.png",
	title: "Is Prolotherapy an “off-label” use of Procaine™ and Glucose?",
	subtitle: 'Previously, speaker groups could only be made with audio devices, meaning the standard Chromecast was excluded.'

	},
	{
	src: "../images/faq/shutterstock_644311684.png",
	title: "To what diagnoses is Prolotherapy applicable?",
	subtitle: 'Launch provider Virgin Orbit, the spinoff of Richard Branson’s space tourism venture Virgin Galactic, put its new rocket in the air for the first time this weekend — though the vehicle didn’t go to space.'

	}
	],

	video = `<iframe width="768" height="4405" src="https://www.youtube.com/embed/QBp9SAdAMWo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`

