header.header-main
	.container
		nav.navigation
			a.navigation__link(href="#"): h1.navigation__logo Boulder Prolotherapy
			ul.navigation__list.list-nav
				li.navigation__item: a.list-nav__link(href="#") About Us
				li.navigation__item: a.list-nav__link(href="#") Sympotoms
				li.navigation__item: a.list-nav__link(href="#") Diagnosis
				li.navigation__item: a.list-nav__link(href="#") Treatments
				li.navigation__item: a.list-nav__link(href="#") FAQ
				li.navigation__item: a.list-nav__link(href="#") Contacts
			.contacts
				button.contacts__button I Want To Avoid Surgery
				p.contacts__ipone 303 444 5131
