include example-code

mixin info-block()
	section.info-block
		.container
			.info-block__img
		.container
			p.info-block__link Home / Treatments
			h2.info-block__title Orthopedic Treatment – Boulder Prolotherapy

					//img(src='../images/head/treatments@2x.jpg' alt='' width="1180" height="320")
			.info-block__text
				.info-block__list.list
					.info-block__item: p.list__text= textHealing
					.info-block__item: +button('button','Contact Dr. Clark Now','ClarkNow')
					.info-block__item: p.list__option= textOption
					.info-block__item: p.list__optionNext= textOptionNext
					.info-block__item: +social__link()


mixin social__link()
	.social-link
		.social-link__list
			.social-link__item: a.icons.social-link-fb_like(href='#')
			.social-link__item: a.icons.social-link-fb_share(href='#')
			.social-link__item: a.icons.social-link-tweeter(href='#')
			.social-link__item: a.icons.social-link-gplus(href='#')
			.social-link__item: a.icons.social-link-inLinks(href='#')
			.social-link__item: p.social-link__text Thanks for reading! Please like and share.







mixin contactUs()
	section.treatments-contacts
		.container
			.treatments-contacts_wrapper
				.treatments-contacts__img
					.treatments-contacts__bg
				.treatments-contacts__text
					h2.treatments-contacts__title Contact Us Today
					p.treatments-contacts__subtitle Our overall goal is to resolve the underlying structural causes of your pain, while relieving you of long-term dependency prescription analgesic medications. Write to us using the button below or call
					p.treatments-contacts__phone= phone
					+alink('button','Contact Us','contactUs',"contactus.html")



