-
	var
		phone = '8(800) 250-7-163',
		phoneNumber = '88002507163'
		menu = [
		{
			title: 'Главная',
			link: '#main'
		},
		{
			title: 'Меню',
			link: '#menu'
		},
		{
			title: 'О Доставке',
			link: '#aboutDelivery'
		},
		{
			title: 'Контакты',
			link: '#contacts'
		}
		],
		headerTitle = 'КРУГЛОСУТОЧНЫЙ КАФЕ-РЕСТОРАН',
		about = [
			{
				title: 'Rezervation',
				text: 'Позвоните нам заранее или в день прихода. Наш менеджер поможет подобрать свободное место.',
				image: 'image 8.png',
				isForm: true
			},
			{
				title: 'about us',
				text: 'Уютный «Кофе Бин» расположен в самом центре города Тольятти. 15 лет круглосуточно мы готовим для вас самые вкусные блюда разных стран мира. Это и европейская и японская , и паназиатская, и многие другие кухни! А барное меню позволяет подобрать напиток к каждому блюду. Основной зал или летняя веранда в теплое время года открыты в любое время дня и ночи. Ждем Вас в Бине!',
				image: 'image 9.png',
				isForm: false
			}
		],
		bludesList = [
			{
				title: 'БИФШТЕКС ГОВЯЖИЙ',
				text: 'Американская классика! Сочный аппетитный бифштекс из говяжьей вырезки.',
				price: 'ОТ 390 Р.',
				image: 'image 3.png'
			},
			{
				title: 'ВАРАКА',
				text: 'Узбекские чебуреки с говяжьим фаршем. Подаются с фирменным острым соусом.',
				price: 'ОТ 205 Р.',
				image: 'image 4.png'
			},
			{
				title: 'ЖАРКОЕ',
				text: 'Запеченая по русскому рецепту свинина в горшочке.',
				price: 'ОТ 325 Р.',
				image: 'image 5.png'
			},
			{
				title: 'ДРАНИКИ',
				text: 'Классические картофельные драники со сметаной.',
				price: 'ОТ 197 Р.',
				image: 'image 6.png'
			},
		]


