-
	var
	phone = '303 444 5131',
	logo = 'Boulder Prolotherapy',
	menu = [
		{
			url: "about",
			title: "About Us"
		},
		{
			url: "symptoms",
			title: "Symptoms"
		},
		{
			url: "diagnosis",
			title: "Diagnosis"
		},
		{
			url: "treatments",
			title: "Treatments"
		},
		{
			url: "faq",
			title: "FAQ"
		},
		{
			url: "contacts",
			title: "Contacts"
		}
	];
	treatments_list = [
		{
			image : 'images/treatments/shutterstock_1031854693.png',
			title : 'Osteopathic Style Manual Therapy',
			description : 'In our clinic, Osteopathic Manual Therapy (OMT) consists of two...'
		},
		{
			image : 'images/treatments/shutterstock_1014464956.png',
			title : 'Regenerative Injection Therapy',
			description : 'In our clinic, Osteopathic Manual Therapy (OMT) consists of two...'
		},
		{
			image : 'images/treatments/shutterstock_644311684.png',
			title : 'Neural Therapy',
			description : 'Neural Therapy is an injection technique that is aimed at calming down some of the painful aspects...'
		},
		{
			image : 'images/treatments/shutterstock_750383335.png',
			title : 'Orthotic Therapy',
			description : 'Orthotic Therapy utilizes a prosthetic device, the orthotic, which is manufactured and fitted to...'
		},
		{
			image : 'images/treatments/shutterstock_355874912.png',
			title : 'Medication',
			description : 'Sometimes it is necessary to support a patient with interim, short-term pain management while we treat...'
		}
	];









