-
	var
	title = 'hello world'
	a = {
		title: "http://www.radionetplus.ru/uploads/posts/2013-04/1365401196_teplye-oboi-1.jpeg",
		title1: "http://www.radionetplus.ru/uploads/posts/2013-04/1365401196_teplye-oboi-1.jpeg",
		title2: "http://www.radionetplus.ru/uploads/posts/2013-04/1365401196_teplye-oboi-1.jpeg",
		title3: "https://bipbap.ru/wp-content/uploads/2017/09/44_20140925_1955853838.gif"
	}








