-
	var
		phone = '8(800) 250-7-163',
		phoneNumber = '88002507163'
		menu = [
		{
			title: 'Главная',
			link: '#main'
		},
		{
			title: 'Меню',
			link: '#menu'
		},
		{
			title: 'О Доставке',
			link: '#aboutDelivery'
		},
		{
			title: 'Контакты',
			link: '#contacts'
		}
		],
		headerTitle = 'КРУГЛОСУТОЧНЫЙ КАФЕ-РЕСТОРАН'

