-
	var
	h1= 'Государственная субсидия на покупку туров по России'
	oferta = [
		'Не является офертой. Организатор - Федеральное агентство по туризму. Полные Правила предоставления государственной субсидии на приобретение туров',
		'по Российской Федерации, включая сроки и порядок выплат, будут размещены на Официальном сайте Федерального агентства по туризму tourism.gov.ru',
		'и на портале Программы sale.russia.travel. Партнером по осуществлению выплат кэшбека является платежная система «Мир».'
	]











