.diagnosis{
  background: #E5E5E5;
  .text-down-link{
    color: $blueLink;
  }
  &__title{
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 25px;
    color: #333333;
  }
  &__container{
    @include column(0,8,10);
    margin: 0 auto;
  }
  &__subheader{
    .text-middle{
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #333333;
      margin-bottom: 10px;
    }
    .text-up{
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #333333;
      margin-bottom: 30px;
    }
    .text-down{
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #333333;
      margin-bottom: 25px;
      &-link{
        color: $blueLink;
      }
    }
    padding-bottom: 25px;
  }
  &__images{
    margin-bottom: 5px;
    position: relative;
    border-radius: 8px;
    .owl-stage-outer {
      width: 100%;
      overflow: hidden;
    }
    .owl-stage {
      display: flex;
      @include breakpoint($mobile_media){

        margin-bottom: 15px;

      }
    }
    .owl-item {
      float: left;
      border-radius: 8px;
      .active{
        border-radius: 8px;
        .cloned{
          border-radius: 8px;
        }
      }
    }
    .owl-nav {
      border: none;
      width: 120%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto  ;
      position: absolute;
      left: -10%;
      bottom: 50%;

      @include breakpoint($mobile_media){
        left: 0;
        width: 100%;
        bottom: 0;


      }
      .owl-prev{
        border: none;
        left: 0;
        top: 50%;
        width: 20px;
        height: 2px;
        background-color: #222;
        outline: none;
        cursor: pointer;

        &:before{
          transform: rotate(-35deg);
          transform-origin: left bottom;
          left: 0;
          top: 0;
          @extend %afterbefore;
        }
        &:after {
          transform: rotate(35deg);
          transform-origin: left top;
          left: 0;
          top: 0;
          @extend %afterbefore;
        }

      }
      .owl-next{
        border: none;
        position: absolute;
        top: 50%;
        right: 0;

        // margin-top: -10px;
        width: 20px;
        height: 2px;
        background-color: #222;
        outline: none;
        cursor: pointer;
        &:before {
          transform: rotate(-35deg);
          right: 0;
          top: 0;
          transform-origin: right bottom;
          @extend %afterbefore;
        }

        &:after {
          transform: rotate(35deg);
          right: 0;
          top: 0;
          transform-origin: right top;
          @extend %afterbefore;

        }

      }
      &.disabled {
        display: none;
      }
    }
    .owl-dots {
      z-index: 111;
      display: flex;
      justify-content: center;
      width: 100%;

      position: absolute;
      bottom:-29px;
      left: 0;

    }
    .owl-dot {

      margin-left: 5px;
      margin-right: 5px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      width: 50px;
      height: 6px;
      border: 0;
      &.active {
        background-color: $orange;
      }
    }
  }
  &__image{
    width: 100%;
    border-radius: 8px;
  }
  &__textsubimages{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.5);
    margin-bottom: 25px;
    @include breakpoint($mobile_media){

      margin-top: 15px;

    }
  }
  &__text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    margin-bottom: 40px;
  }
  .freim-list{

  }
  padding-bottom: 100px;
}
.diagnosis {
  &_list__wrapper{
    background-color:$bgsecondary;
    padding-bottom: 60px;
    overflow: hidden;
    .container{
      .h2 {
        font-weight: 800;
        font-size: 40px;
        line-height: 45px;
        text-align: center;

        color: #333333;
        margin-bottom: 50px;
      }
    }
  }

  &__row{
    @include row_grid($padding_1);
    justify-content: center;
  }
  &__wrapper{
    @include column($padding_1, 4, 6);
    margin-bottom: $padding_1 * 2;

  }
  &__item{
    height: 100%;
    background: $white;

    border-radius: 8px;

    &-cont{
      text-align: center;
      color: #333333;
      padding-right: 30px;
      padding-left: 30px;

    }
    &-image {
      margin-bottom: 20px;
      height: 140px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title{
      margin-bottom: 10px;
      font-style: normal;
      font-weight: bold;
      line-height: 27px;
      font-size: 22px;
      transition: all .3s;
      cursor: pointer;
      &:hover{
        color: #087CD5;
      }
    }
    &-description{
      padding-bottom: 34px;
      color: #333333;
    }
    &:before {
      content: '';
      display: block;


    }
  }
}
