@import "mixins";
.row {
  @include row_grid($padding_1);
}
.block {
  @include column($padding_1, 3, 4, 6);
  margin-bottom: $padding_1 * 2;
  &__child {
    width: 100%;
    background-color: $yellow;
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}
