@import "mixins";
.row {
  @include row_grid($padding_1);
}
.block {
  @include column($padding_1, 3, 6, 6);
  margin-bottom: $padding_1;
  &__child {
    width: 100%;
    height: 200px;
    background-color: $yellow;
  }
}
