@import 'breakpoint';
@import 'mixins';

%button {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background-color: $yellow;
  color: black;
  text-align: center;
  line-height: 30px;
  margin-bottom: 13px;
}

.main {
  width: 100%;
  min-height: 100vh;

  background-color: $bgHeader;
  /*
  background-image:
    url('../images/main-bg.svg'),
    url('../images/main%20man/3anatomy_2@2x.png'),
    linear-gradient(238.51deg, #36007B 10.05%, #18318B 53.01%, #0782DB 84.52%);
  background-repeat:
    repeat-x,
    no-repeat,
    no-repeat;
  background-position:
    0 520px,
    -189px -7px,
    top;
  background-size:
    auto,
    77%,
    100% 1000px;
  position: relative;*/
  .header {
    &:before {
      display: none;
    }
  }
}

.header {
  padding-top: 34px;
  position: relative;
  @media screen and (max-width: 1279px) {
    z-index: 300;
  }
  &:before {
    content: '';
    width: 100%;
    height: 310px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bgHeader;
    @include hide_device();

  }
  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  &__logo {
    font-weight: 700;
    padding-top: 5px;
    line-height: 25px;
    font-size: 22px;
    width: 154px;
    min-width: 154px;
    color: $white;
    text-decoration: none;
    display: block;
  }
  &__menu {
    margin-left: 45px;
    display: flex;
    flex-basis: 100%;
    @include hide_device();
  }
  &__menu-item {
    margin-right: 20px;
    color: $white;
    white-space: nowrap;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  &__contacts {
    width: 230px;
    min-width: 230px;
    @include hide_device();
  }
  .header__contacts-button {
    @extend %button;
  }
  &__contacts-phone {
    width: 100%;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: $white;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      height: 40px;
      width: 20px;
      margin-right: 10px;
      opacity: 0.4;
      @include bg('icons/phone.svg', 17px)
    }
  }
  &__device-cont {
    @include hide_desktop();

  }
  &__device-phone {
    display: inline-block;
    vertical-align: top;
    height: 18px;
    width: 18px;
    margin-right: 30px;
    @include bg('icons/phone.svg', 17px)
  }
  &__toggle-button {
    cursor: pointer;
    width: 26px;
    height: 19px;
    position: relative;
    display: inline-block;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 26px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      transition: all 0.2s ease-out;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &.active {
      .header__toggle-button-lines {
        width: 0;
      }
      &:before {
        transform: rotate(-45deg);
        top: 8px;
      }
      &:after {
        transform: rotate(45deg);
        bottom: 8px;
      }
    }
  }
  &__toggle-button-lines {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.1s ease-out;
  }
}

.device-toggle-content {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 100;
  @include hide_desktop();
  &:before {
    content: '';
    display: block;
    width: 300vh;
    height: 300vh;
    background-color: $blue;
    position: absolute;
    top: calc(-150vh + 30px);
    right: calc(-150vh + 19px);
    border-radius: 50%;
    transform: scale(0);
    transition: all 1s ease-out;
  }
  .container {
    margin-top: 116px;
    padding-left: 50px;
    padding-right: 50px;
    height: calc(100% - 116px);
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
  }
  &__menu {
    padding-bottom: 25px;
    width: 100px;
  }
  &__menu-item {
    font-weight: bold;
    line-height: 25px;
    display: block;
    margin-bottom: 15px;
    color: $yellow;

  }
  .social-icons {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__button {
    @extend %button;
  }
  &.active {
    right: 0;
    &:before {
      transform: scale(1);
    }
    .container {
      @include animate(menu, 0.5s, 0.5s);
    }
  }
}
@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.social-icons {
  .icon {
    color: $yellow;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
  }
}


