@import 'breakpoint';
@import 'mixins';

%button {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background-color: $yellow;
  color: black;
  text-align: center;
  line-height: 30px;
  margin-bottom: 13px;
}



.header {
  position: relative;
  z-index: 3;
  padding-top: 34px;

  background-color: $bgHeader;
  padding-bottom: 20px;
  @media screen and (max-width: 1279px) {
    z-index: 300;
  }
  &:before {
    content: '';
    width: 100%;
    height: 310px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bgHeader;
    @include hide_device();

  }
  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  &__logo {
    font-weight: 700;
    padding-top: 5px;
    line-height: 25px;
    font-size: 22px;
    width: 154px;
    min-width: 154px;
    color: $white;
    text-decoration: none;
    display: block;
  }
  &__menu {
    margin-left: 45px;
    display: flex;
    flex-basis: 100%;

    @include hide_device();
  }
  &__menu-item {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;

    color: #E5E5E5;

    margin-right: 20px;

    white-space: nowrap;
    display: block;
    a{
      transition: all .1s ease-in-out;
      &:hover {
        color: $yellow;
      }
    }
    &--active{
      color: $yellow;
    }
  }
  &__contacts {
    width: 230px;
    min-width: 230px;
    @include hide_device();
  }
  .header__contacts-button {
    @extend %button;
  }
  &__contacts-phone {
    width: 100%;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: $white;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      height: 40px;
      width: 20px;
      margin-right: 10px;
      opacity: 0.4;
      @include bg('icons/phone.svg', 17px)
    }
  }
  &__device-cont {
    @include hide_desktop();

  }
  &__device-phone {
    display: inline-block;
    vertical-align: top;
    height: 18px;
    width: 18px;
    margin-right: 30px;
    @include bg('icons/phone.svg', 17px)
  }
  &__toggle-button {
    cursor: pointer;
    width: 26px;
    height: 19px;
    position: relative;
    display: inline-block;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 26px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      transition: all 0.2s ease-out;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &.active {
      .header__toggle-button-lines {
        width: 0;
      }
      &:before {
        transform: rotate(-45deg);
        top: 8px;
      }
      &:after {
        transform: rotate(45deg);
        bottom: 8px;
      }
    }
  }
  &__toggle-button-lines {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.1s ease-out;
  }
}

.device-toggle-content {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 100;
  @include hide_desktop();
  &:before {
    content: '';
    display: block;
    width: 800vh;
    height: 800vh;
    background-color: $blue;
    position: absolute;
    top: calc(-400vh + 30px);
    right: calc(-400vh + 19px);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.2s ease-out;
  }
  .container {
    margin-top: 116px;
    padding-left: 50px;
    padding-right: 50px;
    height: calc(100% - 116px);
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
  }
  &__menu {
    padding-bottom: 25px;
    width: 100px;
  }
  &__menu-item {
    font-weight: bold;
    line-height: 25px;
    display: block;
    margin-bottom: 15px;
    color: $yellow;

  }
  .social-icons {
    margin-top: 40px;
    margin-bottom: 40px;
    .icon{
      font-size: 30px;
    }
  }
  &__button {
    @extend %button;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    text-align: center;

    color: #000000;
    &:hover{

        background-color: $yellowHover;
        box-shadow: 0 0 80px rgba(255, 214, 74, 0.6);

    }
  }
  &.active {
    right: 0;
    &:before {
      transform: scale(1);
    }
    .container {
      @include animate(menu, 0.2s, 0.2s);
    }
  }
}
@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.social-icons {
  .icon {
    color: $yellow;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
  }
}

.footer{
  background-color: #0D2165;
  color: #F6F6F6;
  line-height: normal;
  &__row {
    @include row_grid($padding_container);
  }
  &__menu-icons{
    padding-top: 29px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 17px;
  }
  &__menu{
    display: flex;
    flex-wrap: wrap;
    @include column($padding_container, 8, 8);
    @include breakpoint($tablet_max_media){
      margin-bottom: 5px;
    }
    &-item{
      line-height: normal;
      display: inline-block;
      margin-right: 30px;
      @include breakpoint($mobile_media){
        margin-bottom: 5px;
      }
      &--active{
        color: #FFD64A;
      }
    }
  }
  .social-icons{
    @include column($padding_container, 4,4);
    text-align: right;
    .icon{
      font-size: 30px;
      &:first-child {
        margin-left: 0;
      }
    }
    @include breakpoint($mobile_media){
      text-align: left;
    }
  }
  &__phone-address-email{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #F6F6F6;
    margin-bottom: 10px;
    @include column($padding_container, 12, 8);
    @include breakpoint($tablet_max_media){
      margin-bottom: 20px;
    }
  }
  &__phone{
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    color: #F6F6F6;
  }
  &__email{
    margin-right: 30px;
    line-height: normal;
    display: inline-block;
  }
  &__addres{
    line-height: normal;
    display: inline-block;
  }
  &__copy-raiting-desing{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 49px;
    width: 100%;
  }

  &__copy-raiting{

    @include column($padding_container, 8, 8);
    @include breakpoint($tablet_max_media){
      flex-direction: column;
    }
    display: flex;
  }
  &__copy{
    margin-right: 30px;

    @include breakpoint($tablet_max_media) {
      margin-right: 0;
      margin-bottom: 4px;
    }
    @include breakpoint($extra_mobile_media ){
      margin-bottom: 10px;
    }
  }
  &__rating-text{
    margin-right: 10px;
    @include breakpoint($tablet_max_media){
      margin-bottom: 20px;
    }
  }
  &__rating{
    display: flex;
    &-text{

    }
  }
  &__design{
    text-align: right;
    opacity: 0.6;
    //align-self: flex-end;
    @include column($padding_container, 4, 4);
    @include breakpoint($mobile_media){
      text-align: left;
    }


  }
}

