@import "mixins";

%pain_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.pain {
  background-color: $bgMain;
  position: relative;
  @include breakpoint($desktop_media) {
    min-height: 704px;
  }
  &__title{
    padding-top: 100px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 17px;
  }
  &__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    max-width: 780px;
    margin: 0 auto  ;
    color: #FFFFFF;
    margin-bottom: 15px;
    opacity: 0.9;
    @include breakpoint($tablet_min_media){

    }
  }
  &__map {
    @include hide_device();
    width: 602px;
    height: 704px;
    position: absolute;
    left: 50%;
    margin-left: -301px;
    @include bg('/pain/232@2x.png');


    &:before {
      content: '';
      //display: block;
      width: 538px;
      height: 538px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      //margin-top: -269px;
      //margin-left: -269px;
      z-index: -1;
      background: radial-gradient(269.00px at 50% 50%, #087CD5 0%, #1053AD 100%);
      opacity: 0.8;
      box-shadow: 0 0 120px rgba(118, 216, 251, 0.15);

    }
  }
  &__list {
    display: flex;
    width: 100%;
    @include breakpoint($desktop_media) {
      min-height: 704px;
    }
    flex-wrap: wrap;
    justify-content: space-between;

    .left {
      @include breakpoint($desktop_media) {
        width: calc(50% - 301px);
      }
      @include breakpoint($tablet_max_media) {
        width: 100%;
      }
      @extend %pain_column;
    }
    .right {
      @include breakpoint($desktop_media) {
        width: calc(50% - 301px);
      }
      @include breakpoint($tablet_max_media) {
        width: 100%;
        display: none;
        &.active {
          display: flex;
        }
      }
      @extend %pain_column;

    }
  }
  &__item {
    display: inline-block;
    color: white;
    line-height: 37px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 37px;
    //transition: background-color 0.5s ease-out;
    border-radius: 4px;
    background-color: transparent;
    @include breakpoint($tablet_max_media) {
      color: $yellow;
      line-height: 22px;
      height: auto;
      margin-bottom: 20px;
      max-width: 340px;
    }
    @include breakpoint($mobile_media) {
      max-width: 220px;
    }
    &:hover,
    &.active {
      background-color: $orange;
      box-shadow: 0 0 80px rgba(255, 86, 62, 0.8);
    }
  }
  &__point{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    &:before {
      content: '';
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      z-index: -1;
      border-radius: 50%;
      top: -15px;
      left: -15px;
      background-color: $orange;
      transition: all 0.2s ease-out;
      transform: scale(0);
      box-shadow: 0 0 80px #D75745;
    }
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 50%;
      transition: all 0.2s ease-out;
      background-color: rgba(255, 214, 74, 0.7);
    }
    &:hover,
    &.active {

      &:before {
        transform: scale(1);
      }
      &:after {
        background-color: white;
      }
    }
  }
  &__button-more {
    @include hide_desktop();
    margin: auto;
    &.activated {
      display: none;
    }

  }

}
