$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-facebook: "\e900";
$icon-google: "\e901";
$icon-linkdIn: "\e902";
$icon-twitter: "\e903";

$full_width: 100%;
$width_column12: $full_width / 12;
$width_column10: $full_width / 10;

$rem: 1rem / 16;
$padding_container: 20*$rem;
$padding_1: 30*$rem;
$padding_2: 40*$rem;

$pathImages: "../images/";

$extra_mobile_width: 500px;
$extra_mobile_media: max-width 500px;

$mobile_width: 767px;
$mobile_media: max-width 767px;

$tablet_min_width: 768px;
$tablet_min_media: min-width 768px;

$tablet_max_width: 1279px;
$tablet_max_media: max-width 1279px;

$desktop_width: 1280px;
$desktop_media: min-width 1280px;

$extra_desktop_width: 1920px;
$extra_desktop_media: min-width 1920px;

// colors
$yellow: rgba(255, 214, 74, 0.9);
$yellowHover: #FFDE6D;
$yellowActive: #F0C533;
$orange: #FF563E;
$orangeHover: #FF624C;
$orangeActive: #F6472F;

$blue: #17318B;
$bgHeader: $blue;
$bgMain: $blue;

$white: #ffffff;
$gradient: linear-gradient(268.8deg, #0D62BB 0%, #1053AD 100%);
